<h1>Header 1, My Jupyter Notebook on IBM Watson Studio<h1>

**Almog Klein**

I'd like to go into the space industry and work as a data scientist to help tell everyone's story.

*I am interested in data science because I have many interests and the world of data science*

*integrates and improves in every field such as stocks, computer vision, medical systems and many others.*

<h3>Code cell, Implement the fibonacci sequence<h3>

In [9]:
def fibon(n):
    if n == 0 or n == 1:
        return n
    f = fibon(n - 1) + fibon(n - 2)
    return f
fibon(1) # (0, 1, 1, 2, 3, 5, 8, 13, etc...)

1

---

```markdown
>One level of indentation
```

---

```python
print("hi world")
```
---

```markdown
1. One
1. Two
1. Three
```
---

```markdown
$y=x^2$

$e^{i\pi} + 1 = 0$

$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$
```
---

```markdown
First column name  | Second column name 
-------------------|------------------
Row 1, Col 1       | Row 1, Col 2 
Row 2, Col 1       | Row 2, Col 2 
```
---